@{
    ViewData["Title"] = "Locked out";
}

<div class="container text-center">
    <h2 class="text-danger">Account Locked</h2>
    <p>This account has been locked out, please try again later.</p>
</div>



