@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h1>About Student Charity Hub</h1>
    <p>Student Charity Hub is a transparent platform connecting donors with students in need of educational sponsorship.</p>
</div>



